<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body>
    <div id="wrapper">
        <div id="header">
            <a href="home.html" class="logo p-3">
                <img src="../img/logotop.png" alt="">
            </a>
            <ul class="nav-header m-0">
                <li><a href="detail.html">Căn hộ dịch vụ</a></li>
                <li><a href="detail.html">Biệt thự & homestay</a></li>
                <li><a href="detail.html">Khách sạn</a></li>
                <li><a href="detail.html">Tour</a></li>
                <li class="blog">
                    <a href="">Blog <i class="fa-solid fa-chevron-down fa-xs"></i></a>
                    <ul class="sub-nav-header">
                        <li><a href=""> &#187; Gợi ý khám phá</a></li>
                        <li><a href=""> &#187; Văn hóa du lịch</a></li>
                        <li><a href="">Tin tức thị trường</a></li>
                        <li><a href="">Giới thiệu</a></li>
                    </ul>

                </li>
            </ul>
            <ul class="account p-0">
                <li><a href="dangnhap.html">Đăng nhập</a></li>
                <li><a href="dangky.html">Đăng ký</a></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <nav class="p-3">
                    <ol class="breadcrumb bg-light ">
                        <li class="breadcrumb-item">
                            <a href="">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active">
                            Chi tiết
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 ml-3">
                    <h2>Danh sách chỗ nghỉ</h2>
                    <p>Asahi kết hợp với các nhà cung cấp uy tín, mang lại cho các bạn những trải nghiệm tuyệt vời nhất
                        trong
                        chuyến
                        hành trình của minh.
                        Chúng tôi sẽ luôn đồng hành cùng các bạn để liên tục cập nhật những sản phẩm mới nhất.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <form action="" class="p-4 shadow bg-white sticky-top my-2">
                        <h2>Tìm kiếm nhanh</h2>
                        <div class="row">
                            <div class="col-md-12 form-group m-0" id="input-local">
                                <input type="text" placeholder="Nhập tên địa điểm tìm kiếm..." class="form-control">
                                <i class="fa-solid fa-location-dot "></i>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <h6 for=" " class="text-info">Giá thấp nhất</h6>
                                <input type="text " placeholder="Nhập mức giá" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <h6 for="" class="text-info">Giá thấp nhất</h6>
                                <input type="text " placeholder="Nhập mức giá" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <h6 for="" class="text-info">Giá thấp nhất</h6>
                                <input type="text " placeholder="Nhập mức giá" class="form-control">
                            </div>
                            <div class="col-md-6 form-group">
                                <h6 for="" class="text-info">Giá thấp nhất</h6>
                                <input type="text " placeholder="Nhập mức giá" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <h6 for="" class="text-info">Giá thấp nhất</h6>
                                <input type="text" placeholder="Nhập tên địa điểm tìm kiếm..." class="form-control">
                            </div>
                        </div>
                        <div class="btn btn-danger p-3 justify-content-center d-flex text-uppercase">
                            Tìm kiếm
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="btn btn-success mx-2 my-2">Mới nhất</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-1.jpeg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>ROBIN HOTEL GIA NGHĨA</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">2.240.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Khách sạn</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Đường 23 tháng 3 phường Nghĩa Tân, Thành phố Gia Nghĩa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-10.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>KHÁCH SẠN TN CENTRAL</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">775.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Biệt thự</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Đang cập nhật địa chỉ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-3.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Khách Sạn Pullman Hanoi</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">3.174.500</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Căn hộ dịch
                                                vụ</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            40 Cát Linh - Quận Đống Đa - Thành phố Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-4.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Nalicas Nha Trang Hotel</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">603.750 </span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Khách sạn</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            98B/12 Trần Phú - Phường Lộc Thọ - Thành phố Nha Trang - Tỉnh Khánh Hòa</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-5.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Dragon Pearl Hotel</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">610.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Khách sạn</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Phường Quán Thánh - Quận Ba Đình - Thành phố Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-7.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Park View Hotel</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">2.240.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Căn hộ dịch
                                                vụ</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Số 9 đường Ngô Quyền, Phường Vĩnh Ninh - Thành phố Huế - Tỉnh Thừa Thiên Huế
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-10.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Thanh Lịch Hue Hotel</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">2.000.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Căn hộ dịch
                                                vụ</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            59 Võ Thị Sáu - Phường Phú Hội - Thành phố Huế - Tỉnh Thừa Thiên Huế</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-11.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Dream Hotel And Apartment</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">1.200.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Biệt thự</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            64 Nguyễn Lương Bằng, Phường Ô Chợ Dừa - Quận Đống Đa - Thành phố Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-6.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Khách Sạc Thanh Lịch Royal Boutique</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">2.240.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Khách sạn</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Hai Bà Trưng - Phường Vĩnh Ninh - Thành phố Huế - Tỉnh Thừa Thiên Huế</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-8.jpg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>Hyatt Regency West Hanoi</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">4.540.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Biệt thự</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            36 Lê Đức Thọ Phường Mỹ Đình 2 - Quận Nam Từ Liêm - Thành phố Hà Nội</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row shadow">
                                <div class="col-md-4 d-flex align-items-center ">
                                    <a href="cart.html">
                                        <img src="../img/detail/detail-1.jpeg" alt="" class="img-thumbnail ">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="info">
                                        <div class="title border-bottom p-4">
                                            <h6>ROBIN HOTEL GIA NGHĨA</h6>
                                            <p>(Chưa có đánh giá)</p>
                                            <span class=" d-flex justify-content-end font-weight-bold"><span
                                                    class="text-danger ">2.240.000</span> / đêm</span>
                                            <span class="rounded-pill bg-secondary p-2 text-warning">Khách sạn</span>
                                            <span><a href="cart.html"
                                                    class="p-2 rounded-pill bg-info ml-5 text-white text-decoration-none">Xem
                                                    thông
                                                    tin</a></span>
                                        </div>
                                        <p class="p-2"> <i class="fa-solid fa-location-dot "></i>
                                            Đường 23 tháng 3 phường Nghĩa Tân, Thành phố Gia Nghĩa</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div id="footer">
            <div class="logo-footer">
                <a href="cart.html"><img src="../img/logo.png" alt=""></a>
            </div>
            <div class="widget">
                <h5 class="title text-white">Menu</h5>
                <ul class="list-menu">
                    <li><a href="">Trang chủ</a></li>
                    <li><a href="">Căn hộ</a></li>
                    <li><a href="">Blogs</a></li>
                    <li><a href="">Câu hỏi thường gặp</a></li>
                </ul>
            </div>
            <div class="widget">

                <h5 class="title text-white">Loại hình lưu trú</h5>
                <ul class="footer-menu">
                    <li><a href="" title="Căn hộ dịch vụ">Căn hộ
                            dịch vụ</a></li>
                    <li><a href="" title="Biệt thự">Biệt thự</a></li>
                    <li><a href="" title="Homestay">Homestay</a></li>
                    <li><a href="" title="Khách sạn">Khách sạn</a></li>
                </ul>
            </div>
            <div class="widget">
                <h5 class="title text-white">Socical</h5>
                <ul class="list-socical">
                    <li><a href=""><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                    <li><a href=""><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
                    <li><a href=""><i class="fa-brands fa-pinterest"></i> Pinterest</a></li>
                    <li><a href=""><i class="fa-brands fa-tiktok"></i>Tiktok</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p class="mb-0 d-flex justify-content-center">© 2022 Asahi Luxstay. All Rights Reserved</p>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
        crossorigin="anonymous"></script>
</body>

</html>