<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="../css/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="../css/owlcarousel/assets/owl.theme.default.min.css">
    <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <script src="../css/owlcarousel/owl.carousel.js"></script>
    <script src="../css/owlcarousel/owl.carousel.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header">
            <div class="logo">
                <img src="../img/logotop.png" alt="">
            </div>
            <ul class="nav-header">
                <li><a href="detail.html">Căn hộ dịch vụ</a></li>
                <li><a href="detail.html">Biệt thự & homestay</a></li>
                <li><a href="detail.html">Khách sạn</a></li>
                <li><a href="detail.html">Tour</a></li>
                <li class="blog">
                    <a href="">Blog <i class="fa-solid fa-chevron-down fa-xs"></i></a>
                    <ul class="sub-nav-header">
                        <li><a href=""> &#187; Gợi ý khám phá</a></li>
                        <li><a href=""> &#187; Văn hóa du lịch</a></li>
                        <li><a href="">Tin tức thị trường</a></li>
                        <li><a href="">Giới thiệu</a></li>
                    </ul>

                </li>
            </ul>
            <ul class="account">
                <li><a href="dangnhap.html">Đăng nhập</a></li>
                <li><a href="dangky.html">Đăng ký</a></li>
            </ul>
        </div>
        <div id="slider">
            <div class="show-slider">
                <ul class="info-slider">
                    <li><a href="detail.html"> <i class="fa-solid fa-house"></i>Căn hộ</a></li>
                    <li><a href="detail.html"><i class="fa-solid fa-igloo"></i>Biệt thử & homestay</a></li>
                    <li><a href="detail.html"> <i class="fa-solid fa-hotel"></i> Khách sạn</a></li>
                    <li><a href="detail.html">Tour</a></li>
                </ul>
            </div>
        </div>
        <div class="form-booking">
            <div><input class="where" type="text" placeholder="Bạn muốn ở đâu?"
                    style="padding: 8px;border-radius: 5px; outline: none;"></div>
            <div class="order-book">
                <i class="fa-solid fa-calendar-days fa-xl"></i>
                <div class="order-date">
                    <label for="">Ngày đến</label>
                    <input type="date" name="" id="">
                </div>
                <i class="fa-solid fa-arrow-left fa-xl	"></i>
                <div class="order-date"><label for="">Ngày đi</label>
                    <input type="date" name="" id="">
                </div>
            </div>
            <div class="search" style="display: flex; align-items: center;"><input type="button" value="Tìm kiếm"
                    style=" padding: 12px; border: none;"></div>
        </div>
        <div id="outstanding">
            <div class="content-slider">
                <h2>Khu vực phổ biến</h2>
                <p style="padding: 12px; margin-bottom: 24px;">Những địa điểm lưu trú phổ biến được nhiều khách du lịch
                    quan tâm và thường
                    xuyên ghé thăm.</p>
                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-1.jpg"
                                alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-3.jpg"
                                alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/stay/stay-2.jpg" alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-12.jpg"
                                alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-4.jpg"
                                alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-5.jpg"
                                alt=""></a>
                    </div>
                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-7.jpg"
                                alt=""></a>
                    </div>

                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-10.jpg"
                                alt=""></a>
                    </div>

                    <div class="item">
                        <a href=""><img width="100px" height="180px" src="../img/slider-content/slider-12.jpg"
                                alt=""></a>
                    </div>
                </div>
            </div>
            <div class="content-slider">
                <h2>Ưu đãi đặc biệt</h2>
                <p style="padding: 12px; margin-bottom: 24px;">Cùng khám phá và tận hưởng kỳ nghỉ của bạn với những ưu
                    đãi đặc biệt khi đến với Asahi Luxstay.
                </p>

                <ul id="list-content">
                    <li class="content-item">
                        <div class="item">
                            <a href=""><img src="../img/sale/sale-1.jpg" alt=""></a>
                        </div>
                    </li>
                    <li class="content-item">
                        <div class="item">
                            <a href=""><img src="../img/sale/sale-2.jpg" alt=""></a>
                        </div>
                    </li>
                    <li class="content-item">
                        <div class="item">
                            <a href=""><img src="../img/slider-content/slider-4.jpg" alt=""></a>
                        </div>
                    </li>
                </ul>
                <div class="content-slider">
                    <h2>Khám phá thêm loại hình du lịch</h2>
                    <ul id="list-content">
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="detail.html"><img src="../img/stay/stay-1.jpg" alt=""></a>
                                <p class="title">Căn hộ dịch vụ</p>
                                <p class="desc">1022 Căn hộ dịch vụ</p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="detail.html"><img src="../img/stay/stay-3.jpg" alt=""></a>
                                <p class="title">Biệt thự</p>
                                <p class="desc">102 Biệt thự</p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="detail.html"><img src="../img/stay/stay-4.jpg" alt=""></a>
                                <p class="title">HomeStay</p>
                                <p class="desc">213 HomeStay</p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="detail.html"><img src="../img/stay/stay-5.jpg" alt=""></a>
                                <p class="title">Khách sạn</p>
                                <p class="desc">129 Khách sạn</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-slider">
                    <h2>Địa điểm khuyến nghị dành cho bạn</h2>
                    <ul id="list-content">
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href=""><img src="../img/bed/bed-3.jpg" alt=""></a>
                                <p class="title">Homestay Times Small</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Ba Đình - Hà Nội
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-8.png" alt=""></a>
                                <p class="title">Celadon Apt 1BR/Central Ba</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Thanh Nhàn - Thanh Xuân
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-9.jpg" alt=""></a>
                                <p class="title">NOSTALGIA VILLA BA VÌ</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Phường Minh Khai - Quận Hai
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-4.jpeg" alt=""></a>
                                <p class="title">Homestay Times City-Park Hill 1</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Yên Bài - Ba Vì - Hà Nội
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-5.jpg" alt=""></a>
                                <p class="title">Biệt Thự Đông Dương</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Phường Minh Khai - Thuận Thành
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-2.webp" alt=""></a>
                                <p class="title">Suối Hai Villas</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Yên Bài - Ba Vì - Hà Nội
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-7.jpg" alt=""></a>
                                <p class="title">Homestay Times City-Park Hill 1</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Phường Minh Khai - Quận Hai - Hồ Chí Minh
                                </p>
                            </div>
                        </li>
                        <li class="content-item-4">
                            <div class="item-4">
                                <a href="cart.html"><img src="../img/bed/bed-3.jpg" alt=""></a>
                                <p class="title">Home Times City Hill</p>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <p class="desc">
                                    <i class="fa-solid fa-location-dot"></i>
                                    Phường Minh Khai - Quận Hai
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="content-slider">
                    <h2>Tin tức sự kiện</h2>
                    <p style="padding: 12px; margin-bottom: 24px;">Tìm kiếm những kinh nghiệm du lịch độc đáo và khám
                        phá văn hóa vùng miền, du lịch các nước qua các bài viết cùng Asahi Luxstay.
                    </p>

                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-1.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-2.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>

                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-3.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-6.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-4.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-5.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>
                        <div class="item">
                            <a href=""><img width="100px" height="180px" src="../img/news/new-6.jpg" alt=""></a>
                            <div class="info">
                                <div class="date">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <span>23/11/2022</span>
                                </div>
                                <a href="">Gợi ý khám phá</a>
                            </div>
                            <p style="text-align:start ;margin-top: 24px;">
                                Kinh nghiệm Du lịch Hà Nội tháng 1 tự túc giá rẻ từ A - Z
                            </p>

                        </div>

                    </div>

                </div>
                <div id="footer">
                    <div class="logo-footer">
                        <a href=""><img src="../img/logo.png" alt=""></a>
                    </div>
                    <div class="widget">
                        <h3 class="title">Menu</h3>
                        <ul class="list-menu">
                            <li><a href="">Trang chủ</a></li>
                            <li><a href="">Căn hộ</a></li>
                            <li><a href="">Blogs</a></li>
                            <li><a href="">Câu hỏi thường gặp</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="title">Loại hình lưu trú</h3>
                        <ul class="footer-menu">
                            <li><a href="" title="Căn hộ dịch vụ">Căn hộ
                                    dịch vụ</a></li>
                            <li><a href="" title="Biệt thự">Biệt thự</a></li>
                            <li><a href="" title="Homestay">Homestay</a></li>
                            <li><a href="" title="Khách sạn">Khách sạn</a></li>
                        </ul>
                    </div>
                    <div class="widget">
                        <h3 class="title">Socical</h3>
                        <ul class="list-socical">
                            <li><a href=""><i class="fa-brands fa-facebook"></i> Facebook</a></li>
                            <li><a href=""><i class="fa-brands fa-square-instagram"></i> Instagram</a></li>
                            <li><a href=""><i class="fa-brands fa-pinterest"></i> Pinterest</a></li>
                            <li><a href=""><i class="fa-brands fa-tiktok"></i>Tiktok</a></li>
                        </ul>
                    </div>
                </div>
                <div class="footer-bottom">
                    <p class="mb-0">© 2022 Asahi Luxstay. All Rights Reserved</p>
                </div>

            </div>
            <script>
                $(document).ready(function () {
                    var owl = $('.owl-carousel');
                    owl.owlCarousel({
                        items: 4,
                        loop: true,
                        margin: 10,
                        autoplay: true,
                        autoplayTimeout: 2000,
                        autoplayHoverPause: true
                    });
                    $('.play').on('click', function () {
                        owl.trigger('play.owl.autoplay', [1000])
                    })
                    $('.stop').on('click', function () {
                        owl.trigger('stop.owl.autoplay')
                    })
                });
            </script>
</body>

</html>